
@{
    ViewBag.Title = "AddingNewParticularAnimalCompleted";
}

<<<<<<< HEAD
<h2>Adding New Particular Animal Completed! Success</h2>
=======
<h2>Adding New Particular Animal Completed! Successful</h2>
>>>>>>> 5c6223a266323cca412c492bb2117f22307e8c2f

