@{
    ViewBag.Title = "DifferentAnimalsFromKindList";

}

<h2>Here you can see list of particular animals from this type:</h2>


@using (Html.BeginForm("AddNewAnimalKind", "AnimalType", "Get"))
{
    <div class="adding-kind-of-animals-form">
       
        <br>
         
    </div>
}
