@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h2>Welcome, dear visitor!</h2>
<h4>We are glad to see you here</h4>


<p id ="description_about_service">As you know, farming is one of the indispensable branches in our life.
    People use everything connected with farming
    Moreover, in our time animals become closer to people than before: a clear example of this is the acquisition of various copies
    This service is designed to interact with animals, to collect statistics about their well-being.
    No animal can get injured with using our service
</p>


<form id = "button_to_registration_page"method="get" action="~/Views/Account/Registration.cshtml">
    <input type="submit" value="Click to start!">
</form>
