@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class ="form-text">
<h2>@ViewBag.Title.</h2>

<h2>Welcome, dear visitor!</h2>
<h4>We are glad to see you here</h4>


<p id ="description_about_service">As you know, farming is one of the indispensable branches in our life.
    People use everything connected with farming
    Moreover, in our time animals become closer to people than before: a clear example of this is the acquisition of various copies
    This service is designed to interact with animals, to collect statistics about their well-being.
    No animal can get injured with using our service
    <br>
    Animal husbandry is the branch of agriculture concerned with animals that are raised for meat, fibre, milk, eggs, or other products. It includes day-to-day care, selective breeding and the raising of livestock.
    <br>
    Husbandry has a long history, starting with the Neolithic revolution when animals were first domesticated, from around 13,000 BC onwards, antedating farming of the first crops. By the time of early civilisations such as ancient Egypt, cattle, sheep, goats and pigs were being raised on farms.
    <br>
    Major changes took place in the Columbian Exchange when Old World livestock were brought to the New World, and then in the British Agricultural Revolution of the 18th century, when livestock breeds like the Dishley Longhorn cattle and Lincoln Longwool sheep were rapidly improved by agriculturalists such as Robert Bakewell to yield more meat, milk, and wool.
    <br>
    A wide range of other species such as horse, water buffalo, llama, rabbit and guinea pig are used as livestock in some parts of the world. Aquaculture of fish, molluscs, and crustaceans, and the keeping of bees and silkworms is widespread. Insects for human consumption are raised in several countries; for example, the production of crickets is a profitable industry in Thailand.
    <br>
    Modern animal husbandry relies on production systems adapted to the type of land available. Subsistence farming is being superseded by intensive animal farming in the more developed parts of the world, where for example beef cattle are kept in high density feedlots, and thousands of chickens may be raised in broiler houses or batteries. On poorer soil such as in uplands, animals are often kept more extensively, and may be allowed to roam widely, foraging for themselves.
    <br>
    Most livestock are herbivores, except for the pig which is an omnivore. Ruminants like cattle and sheep are adapted to feed on grass; they can forage outdoors, or may be fed entirely or in part on rations richer in energy and protein, such as pelleted cereals. Pigs and poultry cannot digest the cellulose in forage, and require cereals and other high-energy foods.
    <br>
    Husbandry, especially if it is intensive, has a substantial environmental impact, occupying about a third of the earth's ice-free land, causing loss of habitat and emitting about half of all greenhouse gas worldwide. Since the 18th century, people have become increasingly concerned about the welfare of farm animals, and laws and standards are widely enforced in response. In culture, animal husbandry often has an idyllic image, featuring in children's books and songs, where happy animals live in attractive countryside. A similar image may be projected by petting farms and by historic farms that offer farm-stays to paying visitors.
    <br>
    <p align ="center"><h3>This project was created to improve your interaction with animals, so you can start using it!</h3> </p>
    </p>


<a href="@Url.Action("GetRegistrationView","Account")" >
      <button type="submit" class="btn btn-primary btn-large btn-block">Go to registration page</button>
</a>
    
    </div>
