@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Animal Husbandry</h2>
<p>If you have any questions, send us an email.</p>
<email address="rastsvietalovjudo@gmail.com" content="Contact us"></email>